
@mixin tamañocampos {
    width:  14.4em;
  }
.formulario{
display: flex;
flex-direction: column;
align-items: center;
gap: 5em;
}
.etiquetas{
    text-align: left;
}
.formato_form{
    border: solid 2px transparent;
    width: 19em;
    height: fit-content;
    background: #95e1d7;
    padding-left: 2em;
}
#mensaje{
    height: 10em;
    @include tamañocampos;

}
#enviar{
    width: 14.8em;
}
#nombre{
    @include tamañocampos;

}
#email{
    @include tamañocampos;

}
#telefono{
    @include tamañocampos;

}