
.facebook{
    width: 5em;
}
.instagram{
    width: 5em;
}
.twitter{
    width: 5em;
}
.titulo{
    text-align: center;
}
.persona1{
    width: 15em;
}
.persona2{
    width: 15em;
}
.persona3{
    width: 15em;
}

.microsoft{
    width: 10em;
}

.lider1{
    width: 20em;
}
.lider2{
    width: 20em;
}
.lider3{
    width:20em;
}