footer{
    display: block;
    text-align: center;
}
.stilo_footer{
    background-color: black;
    color: white;
    height: 2em;
}
*{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
body{
    background: lemonchiffon;
}
